html {
  /* variables */
  --card-bg: rgb(230, 235, 220);
  --page-bg: rgb(210, 215, 200);
  --border-radius: 16px;
  --gap: 16px;
  height: 100vh;
  width: 100vw;
  display: flex;
  background: var(--page-bg);
}

body {
  margin: auto;
  font-family: 'Open Sans';
}

h1, h2, h3 {
  font-family: "Noto Serif";
  color: rgba(0,0,0,.9);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--gap);
}

canvas {
  cursor: ew-resize;
  max-height: 600px;
  max-width: 100%;
  border-radius: var(--border-radius);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.cards {
  display: grid;
  gap: var(--gap);
  max-width: 100vw;
  margin: 0 var(--gap);
}

.card {
  text-align: center;
  padding: calc(var(--gap) * 2) var(--gap);
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  color: rgba(0,0,0,.6);
}

.card > h1 {
  margin: unset;
  font-weight: normal;
}

button {
  position: relative;
  font: bold 14px/24px "open sans";
  border: none;
  background-color: rgb(60,175,100);
  line-height: 1.5;
  color: white;
  height: max-content;
  width: max-content;
  border-radius: 4px;
  justify-content: center;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 160px;
  padding: 4px 12px;
}

input {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;  
}

@media screen and (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    height: 100%;
    box-sizing: border-box;
    max-width: 320px;
  }
}